<section class="left-nav">
    <div class="user-block">
        <i class="icon fa fa-user"></i>
        <p class="name">Hello, Ahmad</p>
    </div>
    <div class="nav-item selected">
        <i class="icon fa fa-tachometer"></i>
        <p class="name">Dashboard</p>
    </div>
    <div class="nav-item">
        <i class="icon fa fa-cubes"></i>
        <p class="name">Guidelines</p>
    </div>
    <div class="nav-item">
        <i class="icon fa fa-cubes"></i>
        <p class="name">Assets</p>
    </div>
    <div class="nav-item">
        <i class="icon fa fa-eye"></i>
        <p class="name">Discover</p>
    </div>
    <div class="nav-item">
        <i class="icon fa fa-download"></i>
        <p class="name">Downloads</p>
    </div>
    <div class="nav-item">
        <i class="icon fa fa-refresh"></i>
        <p class="name">Updates</p>
    </div>
</section>