.left-nav{
    background: #e3e3e3;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.left-nav .user-block{
    background: #36404c;
    color: white;
    height: 11em;
}

.left-nav .selected{
    color: #ec5c60 !important;
}

.left-nav .nav-item{
    background: #e3e3e3;
    color: #98a2ad;
    text-align: center;
    position: relative;
    padding-top: .5em;
}

.left-nav .selected:before{
    content: '';
    position: absolute;
    z-index: 1;
    right: -.5em;
    top: calc(50% - .5em);
    width: 0; 
    height: 0; 
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-left: .5em solid #e3e3e3;
    clear: both;
}

.left-nav .nav-item:after{
    content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #c7cbcf;
}

.left-nav .nav-item:last-child:after{
    display: none;
}

.left-nav .nav-item .icon{
    font-size: 1.5em;
    padding: .5em .5em;
}

.left-nav .nav-item .name{
    padding-bottom: 1.5em;
    margin: 0;
}
