
.top-nav hr {
    background: #e3e3e3;
    margin: 0;
}

.top-nav .top-row{
    padding: 1em 0;
    line-height: 4.5em;
}

.top-nav .title{
    vertical-align: middle;
    font-weight: bold;
    color: #ec5c60;
    font-size: 1.2em;
}

.top-nav .logo{
    width: 4em;
    height: 4em;
    font-weight: bold;
    color: #ec5c60;
    background: #ec5c60;
    font-size: 1.2em;
}

.top-nav .brand div{
    display: inline-block;
}

.top-nav .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
}

.top-nav .buttons button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
    height: 2em;
    width: 2em;
}

.top-nav .breadcrumbs{
    display: flex;
    justify-content: left;
    height: 4em;
}

.top-nav .breadcrumbs div{
    display: flex;
    align-items: center;
    height: 100%;
    background: #e3e3e3;
    padding: 1em;
    position: relative;
}

.top-nav .breadcrumbs div:after{
    content: '';
    position: absolute;
    z-index: 1;
    right: -.5em;
    top: calc(50% - .5em);
    width: 0; 
    height: 0; 
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-left: .5em solid #e3e3e3;
    clear: both;
}

.top-nav .breadcrumbs div:first-child{
    color: white;
    background:#8793a1;
}
.top-nav .breadcrumbs div:first-child:after{
    border-left: .5em solid #8793a1;
}
