<section class="top-nav">
    <div class="row top-row">
        <div class="col-xs-offset-2 col-xs-6">
            <div class="brand">
                <div class="logo">
                    <i class="fa fa-search"></i>
                </div>
                <div class="title">Your brand asset partner</div>
            </div>
        </div>
        <div class="col-xs-3 col-xs-offset-1">
            <div class="buttons pull-right">
                <button class="btn-blue">
                    <i class="fa fa-home"></i>
                </button>
                <button class="btn-white">
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn-red">
                    <i class="fa fa-sitemap"></i>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="breadcrumbs">
                <div>
                    <span> Brandbox </span>
                </div>
                <div>
                    <span> Dashboard </span>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>